@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;500&family=Press+Start+2P&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .form-control {
        width: calc(50% - .5rem);
    }

    .form-control-66 {
        width: calc(66.66% - .5rem);
    }

    .form-control-33 {
        width: calc(33.33% - .5rem);
    }

    .font-pixel {
        font-family: 'Press Start 2P', sans-serif;
    }

    .text-2xs {
        font-size: .6rem;
    }

    .bg-yellow {
        background-color: yellow;
    }

    .bg-cyan {
        background-color: cyan;
    }

    .bg-green {
        background-color: greenyellow;
    }
    
    .bg-magenta {
        background-color: magenta;
    }

    .bg-red {
        background-color: red;
    }

    .bg-blue {
        background-color: blue;
    }

    .text-yellow {
        color: yellow;
    }

    .text-cyan {
        color: cyan;
    }

    .text-green {
        color: greenyellow;
    }
    
    .text-magenta {
        color: magenta;
    }

    .text-red {
        color: red;
    }

    .text-blue {
        color: blue;
    }
}

* {
    font-family: 'Barlow Semi Condensed', sans-serif;
}

body {
    color: white;
    scrollbar-gutter: stable both-edges;
    overflow-y: overlay;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, .2);
    border-radius: .5rem;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, .5);
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.modal {
    @apply h-screen w-screen fixed top-0 justify-center items-center bg-black bg-opacity-50 hidden;
}

.modal.show {
    @apply flex;
}

.modal div.relative.z-20 {
    /* @apply overflow-y-overlay; */
    max-height: calc(100% - 6.5rem);
    overflow-y: overlay;
}

.btn {
    @apply self-center min-w-[150px] bg-black border-2 border-white text-center font-medium tracking-widest uppercase py-2 px-4 opacity-70;
    @apply transition-opacity;
    @apply hover:opacity-100;
    @apply focus:opacity-100 focus-visible:outline-none;
}

.btn-icon {
    @apply opacity-70 transition-opacity hover:opacity-100 focus:opacity-100 focus-visible:outline-none;
}

.form-control {
    width: calc(50% - .5rem);
}

.form-control-full {
    width: 100%;
}

[type='file'] {
    visibility: hidden;
    position: absolute;
    z-index: -1;
}

input.dynamic-input {
    @apply w-full h-12 bg-gray-900 px-2 pt-1 outline-none border-y-2 border-gray-900 mb-1;
    transition: border-bottom-color .15s ease-in-out;
}

textarea.dynamic-textarea {
    @apply w-full h-24 bg-gray-900 px-2 py-3 outline-none border-y-2 border-gray-900 mb-1;
    transition: border-bottom-color .15s ease-in-out;
    resize: none;
}

select.dynamic-select {
    @apply w-full h-12 bg-gray-900 pl-1 pr-4 pt-1 outline-none border-y-2 border-gray-900 mb-1;
    transition: border-bottom-color .15s ease-in-out;
}

input.dynamic-input:not(:focus):not(:placeholder-shown):invalid, 
select.dynamic-select.invalid {
    @apply border-b-red-600;
}

input.dynamic-input:not(:focus):valid,
textarea.dynamic-textarea:not(:placeholder-shown):not(:focus):valid, 
select.dynamic-select.valid {
    @apply border-b-green-600;
}

input.dynamic-input:focus, textarea.dynamic-textarea:focus, select.dynamic-select:focus, select.dynamic-select:hover {
    @apply border-b-white; 
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px rgb(17 24 39) inset !important;
    -webkit-text-fill-color: rgb(255, 255, 255);
    claret-color: rgb(255, 255, 255); 
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.label-container {
    @apply absolute h-full w-full top-0 left-0 flex items-center pointer-events-none;
}

textarea.dynamic-textarea ~ .label-container {
    @apply items-start pt-[0.85rem];
}

.image-label {
    @apply cursor-pointer;
}

.image-label i {
    @apply opacity-70 mr-2 transition-opacity;
}

.image-label:hover i, .image-label:focus i {
    @apply opacity-100;
}

input.dynamic-input ~ .label-container > .dynamic-label,
select.dynamic-select ~ .label-container > .dynamic-label,
textarea.dynamic-textarea ~ .label-container > .dynamic-label {
    @apply px-2 font-light pointer-events-none;
    transition: font-size .15s ease-in-out, transform .15s ease-in-out, opacity .15s ease-in-out;
}

input.dynamic-input:not(:placeholder-shown) ~ .label-container > .dynamic-label,
select.dynamic-select.valid ~ .label-container > .dynamic-label {
    font-size: .6rem;
    line-height: 1rem;
    transform: translateY(-14px);
    opacity: .6;
}

textarea.dynamic-textarea:not(:placeholder-shown) ~ .label-container > .dynamic-label {
    transform: translateY(-11px);
    font-size: .6rem;
    line-height: 1rem;
    opacity: .6;
}

.hint {
    @apply text-sm w-full text-gray-400;
}

.logo {
    width: auto;
    height: calc(50px - 1rem);
}

.logo img {
    height: 100%;
    width: auto;
}

.burger {
    @apply relative w-[24px] h-[24px];
}

.burger i {
    @apply pointer-events-none absolute;
    transition: opacity .15s ease-in-out, transform .15s ease-in-out;
}

.burger .fa-bars, .burger .fa-ellipsis {
    @apply text-xl top-0 right-0 opacity-70;
}

.burger .fa-xmark {
    @apply text-2xl top-[-0.1rem] right-[0.1rem] opacity-0;
}

.burger.show .fa-bars, .burger.show .fa-ellipsis {
    @apply opacity-0;
    transform: rotate(360deg);
}

.burger.show .fa-xmark {
    @apply opacity-70;
    transform: rotate(360deg);
}

.burger:not(.show):hover .fa-bars, .burger:not(.show):hover .fa-ellipsis, .burger.show:hover .fa-xmark {
    @apply opacity-100;
}

.nav-link {
    @apply text-sm md:text-base uppercase font-medium tracking-widest cursor-pointer hover:underline;
}

.menu {
    transition: transform .15s ease-in-out;
    transform: translateY(-100%);
}

.menu.show {
    transform: translateY(0);
}

.sidemenu {
    /* mobile */
    @apply bg-black col-span-10 w-[60%] p-4 pt-[50px] fixed h-screen top-0 left-0 z-20;
    transition: transform .3s ease-in-out;
    transform: translateX(-100%);

    /* tablet */
    @apply sm:w-full sm:sticky sm:translate-x-0 sm:col-span-3 sm:py-4 sm:px-0 sm:top-[50px] sm:max-h-screen; 
    /* desktop */
    @apply xl:col-span-2;
}

.sidemenu .burger {
    @apply sm:hidden;
    transform: translateX(200%);
    transition: transform .3s ease-in-out;
}

.sidemenu.show .burger {
    transform: translateX(0);
}

.sidemenu.show {
    transform: translateX(0);
}

.tapwall {
    @apply col-span-12 lg:col-start-2 lg:col-end-12 grid grid-cols-12 border border-white uppercase;
}

.tapwall .row {
    @apply row-span-1 col-span-12 grid grid-cols-12 border-b border-b-white text-center ;
}

.tapwall .row .col-span-1, .tapwall .row .col-span-2, .tapwall .row .col-span-3 {
    @apply px-2 py-4 h-full flex items-center justify-center;
}

.tapwall .row .col-span-1:not(:last-child), .tapwall .row .col-span-2:not(:last-child), .tapwall .row .col-span-3:not(:last-child) {
    @apply border-r border-r-white;
}

.user, .brewery, .beer {
    @apply border-b border-b-white py-4;
}

.user:first-of-type, .brewery:first-of-type, .beer:first-of-type {
    @apply pt-0;
}

.user:last-of-type, .brewery:last-of-type, .beer:last-of-type {
    @apply border-b-0;
}

.frontpage-image {
    transform: scaleX(-1);
}

.animate {
    animation-duration: 2s;
    animation-name: zap-in;
    animation-timing-function:cubic-bezier(1, 0, 0, 1);
}

@keyframes zap-in {
    0% {
        opacity: 0;
        transform: rotate(-2deg);
    }
    2% {
        opacity: 1;
        transform: rotate(2deg);
    }
    5% {
        opacity: 0;
        transform: rotate(-2deg);
    }
    10% {
        opacity: .8;
        transform: rotate(2deg);
    }
    13% {
        opacity: 0;
        transform: rotate(-2deg);
    }
    20% {
        opacity: .5;
        transform: rotate(2deg);
    }
    25% {
        opacity: 0;
        transform: rotate(-2deg);
    }
    31% {
        opacity: 1;
        transform: rotate(2deg);
    }
    35% {
        opacity: 0;
        transform: rotate(0deg);
    }
    38% {
        opacity: .8;
        transform: rotate(1deg);
    }
    40% {
        opacity: .2;
        transform: rotate(-1deg);

    }
    45% {
        opacity: .7;
        transform: rotate(1deg);
    }
    50% {
        opacity: 0;
        transform: rotate(0deg);

    }
    100% {
        opacity: 1;
    }
}